<div class="container">
    <div class="row mt-3">
        <h1>Clasificacion en goles</h1>
    </div>
    <div class="row">
        <table class="table table-striped table-hover">
            <thead>
                <tr class="table-dark">
                    <th>Jugadores</th>
                    <th>Equipo</th>
                    <th>Goles</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p><span>1</span> Carlor</p>
                    </td>
                    <td class="equipo">
                        <img src="../../../assets/logoEquipos/logoEquipo13.png" alt="escudo">
                        <p>Colombia</p>
                    </td>
                    <td><p>13</p></td>
                </tr>
                <tr>
                    <td>
                        <p><span>2</span> Elias</p>
                    </td>
                    <td class="equipo">
                        <img src="../../../assets/logoEquipos/logoEquipo1.png" alt="escudo">
                        <p>Brazil</p>
                    </td>
                    <td><p>13</p></td>
                </tr>
                <tr>
                    <td>
                        <p><span>3</span> Jhan</p>
                    </td>
                    <td class="equipo">
                        <img src="../../../assets/logoEquipos/logoEquipo16.png" alt="escudo">
                        <p>Argentina</p>
                    </td>
                    <td><p>10</p></td>
                </tr>
                <tr>
                    <td>
                        <p><span>4</span> Eiris</p>
                    </td>
                    <td class="equipo">
                        <img src="../../../assets/logoEquipos/logoEquipo16.png" alt="escudo">
                        <p>Argentina</p>
                    </td>
                    <td><p>9</p></td>
                </tr>
                <tr>
                    <td>
                        <p><span>5</span> Jhonatan</p>
                    </td>
                    <td class="equipo">
                        <img src="../../../assets/logoEquipos/logoEquipo15.png" alt="escudo">
                        <p>Estados Unidos</p>
                    </td>
                    <td><p>7</p></td>
                </tr>
                <tr>
                    <td>
                        <p><span>6</span> Jhon</p>
                    </td>
                    <td class="equipo">
                        <img src="../../../assets/logoEquipos/logoEquipo16.png" alt="escudo">
                        <p>Argentina</p>
                    </td>
                    <td><p>7</p></td>
                </tr>
                <tr>
                    <td>
                        <p><span>7</span> Juan</p>
                    </td>
                    <td class="equipo">
                        <img src="../../../assets/logoEquipos/logoEquipo15.png" alt="escudo">
                        <p>Estados Unidos</p>
                    </td>
                    <td><p>4</p></td>
                </tr>
                <tr>
                    <td>
                        <p><span>8</span> Hector</p>
                    </td>
                    <td class="equipo">
                        <img src="../../../assets/logoEquipos/logoEquipo8.png" alt="escudo">
                        <p>Chile</p>
                    </td>
                    <td><p>2</p></td>
                </tr>
                <tr>
                    <td>
                        <p><span>9</span> Vitor</p>
                    </td>
                    <td class="equipo">
                        <img src="../../../assets/logoEquipos/logoEquipo2.png" alt="escudo">
                        <p>Peru</p>
                    </td>
                    <td><p>1</p></td>
                </tr>   
            </tbody>
        </table>
    </div>
</div>
