<div class="container">
    <div class="membrete">      
        <div class="logoCampeonato d-none d-md-block">
            <img src="../../../assets/laliga-v-16-9.png" alt="logoCampeonato">
        </div>
        <div class="descripcionCampeonato">
            <h1>Copa Atenas</h1>
            <h3>Novena fecha</h3>
        </div>
        <div class="logoCampeonato d-none d-md-block">
            <img src="../../../assets/laliga-v-16-9.png" alt="logoCampeonato">
        </div>
    </div>
    <div class="partidos">
        <div class="row">
            <div class="partido">
                <div class="col-3 logo">
                    <img src="../../../assets/logoEquipos/logoEquipo11.png" alt="logoEquipo">
                </div>
                <div class="col-6 descripcion">
                    <h4>Canada <span>VS</span> Colombia</h4>
                    <h6>Agosto 31 | 1:00 pm</h6>
                </div>
                <div class="col-3 logo">
                    <img src="../../../assets/logoEquipos/logoEquipo13.png" alt="logoEquipo2">  
                </div>
            </div>                        
        </div>
        <div class="row">
            <div class="partido">
                <div class="col-3 logo">
                    <img src="../../../assets/logoEquipos/logoEquipo1.png" alt="logoEquipo">
                </div>
                <div class="col-6 descripcion">
                    <h4>Brazil <span>VS</span> Venezuela</h4>
                    <h6>Agosto 31 | 2:00 pm</h6>
                </div>
                <div class="col-3 logo">
                    <img src="../../../assets/logoEquipos/logoEquipo3.png" alt="logoEquipo2">  
                </div>
            </div>                        
        </div>
        <div class="row">
            <div class="partido">
                <div class="col-3 logo">
                    <img src="../../../assets/logoEquipos/logoEquipo3.png" alt="logoEquipo">
                </div>
                <div class="col-6 descripcion">
                    <h4>Chile <span>VS</span> Peru</h4>
                    <h6>Agosto 31 | 3:00 pm</h6>
                </div>
                <div class="col-3 logo">
                    <img src="../../../assets/logoEquipos/logoEquipo14.png" alt="logoEquipo2">  
                </div>
            </div>                        
        </div>
        <div class="row">
            <div class="partido">
                <div class="col-3 logo">
                    <img src="../../../assets/logoEquipos/logoEquipo15.png" alt="logoEquipo">
                </div>
                <div class="col-6 descripcion">
                    <h4>Estados Unidos <span>VS</span> Argentina</h4>
                    <h6>Agosto 31 | 4:00 pm</h6>
                </div>
                <div class="col-3 logo">
                    <img src="../../../assets/logoEquipos/logoEquipo16.png" alt="logoEquipo2">  
                </div>
            </div>                        
        </div>
    </div>       
</div>