.modal{
    .modal-body{
        display: flex;
        flex-direction: column;
        div{
            padding: 1rem;
            input{
                border:none;
                border-radius: 5px;
                background-color: rgb(236, 234, 230);
                margin-left: 1rem;
            }
        }
    }
}

.container{
    background-color:rgba(252, 247, 247, 0.658);
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 10px;
    border:3px solid red;
    padding-left: 2rem;
    input{
        border:none;
        border-radius: 5px;
        background-color: rgb(236, 234, 230);
        margin-left: 1rem;
    }
    table{
        background-color: beige;
    }
    hr{
        color:red;
        
    }
}